.inner {
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.section.on {
    transition: 0.5s;
}

.section::after {
    content: "";
    display: block;
    clear: both;
}

/* text_bold */
.-bold {
    font-weight: 500;
}





/* img */
.section .fp_img_box {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    padding: 120px 50px 70px 50px;
    background: rgba(29, 29, 32, 0.9);

    transform: translateX(1920px);
}

.section.on .fp_img_box {
    transform: rotateX(0);
    transition: 1s 1.5s;
}

.section .fp_img_box .pc_version {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 500px;
    background: url(../img/laptop_bg.png) no-repeat center center/cover;
}

.section .fp_img_box .pc_version .cover {
    position: relative;
    width: 628px;
    height: 404px;

    margin: 32px auto 0 auto;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    overflow: hidden;
}

.section .fp_img_box .pc_version .cover>img {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 100%;
    cursor: pointer;
    transition: 10s;

}

.section .fp_img_box .pc_version .cover img:hover {
    transform: translateY(-100%);
    top: 100%;
}




/* link */
.section .fp_img_box .link {
    position: absolute;
    top: calc(70% + 60px);
    left: 50%;
    transform: translate(-50%, 0);

}


.section .fp_img_box .link a {
    display: block;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: #555;
    line-height: 50px;
    transition: 0.4s;
}

.section .fp_img_box .link a:hover {
    background: #fff;
    color: #333;
}





/* info */
.section .fp_info_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
    padding: 120px 50px 70px 50px;
    background: #fff;
    background-image: linear-gradient(180deg, white 12%, transparent 12%),
        repeating-linear-gradient(180deg, #cacaca 0px, #cacaca 1px, transparent 1px, transparent 30px);

    transform: translateX(-1200px);
}

.section.on .fp_info_box {
    transform: translateX(0);
    transition: 1s 1s;
}

.section .fp_info_box .detail {
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 65%;
    opacity: 0;
    visibility: hidden;
}

.section.on .fp_info_box .detail {
    bottom: 25px;
    opacity: 1;
    visibility: visible;
    transition: 1.5s 2s;
}

.section .fp_info_box .detail p {
    font-size: 15px;
    font-weight: 300;
    color: #555;
}

.section .fp_info_box .detail p>strong {
    font-weight: 500;
    color: #333;
}

.section .fp_info_box .project_wrap {
    width: 75%;
    height: auto;
    margin: 0 auto;

    background: #fff;
    border: 1px solid #c4c4c4;
    box-shadow: 0 4px 4px -4px #333;
    border-radius: 10px;

    transform: translatex(-1200px);
}

.section.on .fp_info_box .project_wrap {
    transform: translatex(0);
    opacity: 1;
    transition: 1s 2s;
}

.section .fp_info_box .project_wrap .project_title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #c4c4c4;
}

.section .fp_info_box .project_wrap .project_title .pj_tit {
    flex: 1;
    padding: 50px 50px;
}

.section .fp_info_box .project_wrap .project_title .pj_tit span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.section .fp_info_box .project_wrap .project_title .pj_tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.section .fp_info_box .project_wrap .project_title .pj_tit p {
    font-size: 14px;
    font-weight: 300;
}

.section .fp_info_box .project_wrap .project_title .pj_num {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    border-left: 1px solid #c4c4c4;
    border-top-right-radius: 10px;
    box-shadow: -3px 0 5px -3px #c4c4c4;
    padding: 50px 50px;
}


.section .fp_info_box .project_wrap .project_description {
    padding: 50px 50px;
}

.section .fp_info_box .project_wrap .project_description ul>li {
    margin: 0 0 20px 0;
}

.section .fp_info_box .project_wrap .project_description ul>li>strong {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 3px 0;

}

.section .fp_info_box .project_wrap .project_description ul>li>span {
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    word-spacing: 0.1em;
    letter-spacing: -0.02em;
    color: #555;
}

.section .fp_info_box .project_wrap .project_description ul>li .la_sp {
    margin-top: 3px;
}

.section .fp_info_box .project_wrap .project_description ul .pj_col {
    margin: 0;
}

.section .fp_info_box .project_wrap .project_description ul .pj_col span {
    display: inline-block;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.section .fp_info_box .project_wrap .project_description ul .pj_col span~span {
    margin-left: 5px;
}