/* header */
.Header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 999;
    transition: 0.5s;
}

.Header.on,
.Header.anch {
    color: #fff;
}

.Header h1 a {
    display: block;
}





/* gnb */
.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    transform: translate(0, -50%);
    z-index: 99;
}

.gnb li {
    font-size: 0;
    margin: 15px;
}

.gnb li a {
    display: block;
    text-align: center;

    width: 10px;
    height: 10px;

    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.gnb li a:hover {
    background: #fff;

}

.gnb li.on a {
    background: #fff;

}





/* { main page */
.section.main_page {
    position: relative;
    background: #1d1d20;
}


.section.main_page .rotate_box::before {
    content: "";
    position: absolute;
    top: 250px;
    left: 0px;
    /* transform: translate(0, 50%); */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to bottom right, #ffcd02 50%,
            #ccc) 30 30;

    z-index: 1;
}

.section.main_page.on .rotate_box::before {
    animation: rotate_R 3s ease-in-out forwards;
}


@keyframes rotate_R {
    from {

        transform: rotate(0);
    }

    to {
        top: 250px;
        left: 1400px;
        transform: rotate(180deg);
    }
}

.section.main_page .rotate_box::after {
    content: "";
    position: absolute;
    bottom: 250px;
    right: 0px;
    /* transform: translate(0, 50%); */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to bottom left, #ffcd02 50%, #ccc) 30 30;
    z-index: 1;
}

.section.main_page.on .rotate_box::after {
    animation: rotate_L 3s ease-in-out forwards;
}


@keyframes rotate_L {
    from {

        transform: rotate(0);
    }

    to {
        bottom: 250px;
        right: 1400px;
        transform: rotate(180deg);
    }
}

/* .section.main_page.on .inner::before {

    transform: translate(0, 0) rotate(45deg);
} */

.section.main_page .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.section.main_page .inner .text_box {
    text-align: center;
}

.section.main_page .inner .text_box .main_tit {
    color: #fff;
}

.section.main_page .inner .text_box .main_tit h2 {
    font-size: 70px;
    font-weight: 900;
    margin: 0 0 20px 0;

}

.section.main_page .inner .text_box .main_desc {
    color: #ccc;
}

.section.main_page .inner .text_box .main_desc span {
    display: block;
    font-weight: 300;

}

.section.main_page .inner .text_box .main_desc p {
    font-size: 22px;
    margin: 0 0 20px 0;
}

/* main page } */





/* { portfolio 01 section */

.fp_page01 {
    background: url(../img/portfolio01_cover.png) no-repeat center center / cover;
}

.fp_page01 .fp_info_box .project_wrap .project_title .pj_num {
    border-left: 1px solid #c4c4c4;
    background: #b19273;
}

.fp_page01 .fp_img_box .link a {
    color: #333;
    background: #fff;

}

.fp_page01 .fp_img_box .link a:hover {
    background: #b19273;
    color: #fff;
}

.fp_page01 .fp_info_box .project_wrap .project_title .at_col {
    color: #b19273;
}

.fp_page01 .fp_info_box .project_wrap .at_b {
    background: linear-gradient(to top, #ffebdb 15%, transparent 15%);
}

/* portfolio 01 section } */





/* { portfolio 02 section */
.fp_page02 {
    background: url(../img/portfolio02_cover.png) no-repeat center center / cover;
}

.fp_page02 .fp_info_box .project_wrap .project_title .pj_num {
    border-left: 1px solid #c4c4c4;
    background: #00aeef;
}

.fp_page02 .fp_img_box .link a {
    color: #333;
    background: #fff;

}

.fp_page02 .fp_img_box .link a:hover {
    background: #00aeef;
    color: #fff;
}

.fp_page02 .fp_info_box .project_wrap .project_title .dw_col {
    color: #00aeef;
}

.fp_page02 .fp_info_box .project_wrap .dw_b {
    background: linear-gradient(to top, #c2e5fc 15%, transparent 15%);

}

/* portfolio 02 section } */





/* { portfolio 03 section */
.fp_page03 {
    background: url(../img/portfolio03_cover.png) no-repeat center center / cover;
}

.fp_page03 .fp_info_box .project_wrap .project_title .pj_num {
    border-left: 1px solid #c4c4c4;
    background: #8cd98c;
}

.fp_page03 .fp_img_box .link a {
    color: #333;
    background: #fff;

}

.fp_page03 .fp_img_box .link a:hover {
    background: #8cd98c;
    color: #fff;
}

.fp_page03 .fp_info_box .project_wrap .project_title .ks_col {
    color: #8cd98c;
}

.fp_page03 .fp_info_box .project_wrap .ks_b {
    background: linear-gradient(to top, #d6f7d6 15%, transparent 15%);
}

/* portfolio 03 section } */





/* { portfolio 04 section */
.fp_page04 {
    background: url(../img/portfolio04_cover.png) no-repeat center center / cover;
}


.fp_page04 .fp_info_box .project_wrap .project_title .pj_num {
    border-left: 1px solid #c4c4c4;
    background: #602a19;
}

.fp_page04 .fp_img_box .link a {
    color: #333;
    background: #fff;

}

.fp_page04 .fp_img_box .link a:hover {
    background: #602a19;
    color: #fff;
}

.fp_page04 .fp_info_box .project_wrap .project_title .ks_col {
    color: #602a19;
}

.fp_page04 .fp_info_box .project_wrap .ks_b {
    background: linear-gradient(to top, #ffe2da 15%, transparent 15%);
}

/* portfolio 04 section } */




/* { portfolio 05 section */

.fp_page05 {
    background: url(../img/portfolio05_cover.png) no-repeat center center / cover;
}

.fp_page05 .fp_info_box .project_wrap .project_title .pj_num {
    border-left: 1px solid #c4c4c4;
    background: #1c2a45;
}

.fp_page05 .fp_img_box .link a {
    color: #333;
    background: #fff;

}

.fp_page05 .fp_img_box .link a:hover {
    background: #1c2a45;
    color: #fff;
}

.fp_page05 .fp_info_box .project_wrap .project_title .so_col {
    color: #1c2a45;
}

.fp_page05 .fp_info_box .project_wrap .so_b {
    background: linear-gradient(to top, #dce8ff 15%, transparent 15%);
}

.fp_page05 .fp_img_box .mo_version .cover>img {
    transition: 10s;
}

/* portfolio 05 section } */





/* { portfolio 06 section */
.profile_page {
    background: url(../img/pro_bg.jpg) no-repeat center center/cover;
}

.profile_page .inner {
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;

}

.profile_page .inner .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 4px -4px #333;

    padding: 40px;
}

.profile_page .inner .profile>div {
    margin: 0 0 30px 0;
}


.profile_page .inner .profile dl>dt {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.profile_page .inner .profile dl>dd {
    font-size: 14px;
    font-weight: 300;
}


.profile_page .inner .info {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;
}

.profile_page .inner .info .inf-w {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 4px -4px #333;

    padding: 40px;
}

.profile_page .inner .info .inf-w .inf_tit {
    margin: 0 0 20px 0;
}

.profile_page .inner .info .inf-w .inf_tit span {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.profile_page .inner .info .inf_content .text {
    display: flex;
    gap: 60px;
    margin: 0 0 10px 0;
}

.profile_page .inner .info .inf_content .text span {
    font-weight: 400;
}

.profile_page .inner .info .inf_content .text p {
    font-size: 14px;
    font-weight: 300;
}

.profile_page .inner .info .sk_content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

.profile_page .inner .info .sk_content .progr {
    display: flex;
    gap: 60px;
}

.profile_page .inner .info .sk_content .progr strong {
    display: inline-block;
    width: 100px;
    font-weight: 400;
}

.profile_page .inner .info .sk_content .progr .circle {
    display: flex;
    gap: 5px;
}

.profile_page .inner .info .sk_content .progr .circle span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
}

.profile_page .inner .info .sk_content .prog01 .circle span:nth-child(-n+9) {
    background-color: #c3c3c3;
}

.profile_page .inner .info .sk_content .prog02 .circle span:nth-child(-n+8) {
    background-color: #c3c3c3;
}

.profile_page .inner .info .sk_content .prog03 .circle span:nth-child(-n+6) {
    background-color: #c3c3c3;
}

.profile_page .inner .info .sk_content .prog04 .circle span:nth-child(-n+5) {
    background-color: #c3c3c3;
}

.profile_page .inner .info .sk_content .prog05 .circle span:nth-child(-n+9) {
    background-color: #c3c3c3;
}

.profile_page .inner .info .sk_content .prog06 .circle span:nth-child(-n+7) {
    background-color: #c3c3c3;
}

/* portfolio 06 section } */




/* cover page */
.Cover {
    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Cover::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: url(../img/cover_bg01.jpg) no-repeat center center/cover;
    transform: scaleX(-1);
    z-index: -1;
}

.Cover .left {
    position: relative;
    flex: 1;

    height: 100%;

    color: #fff;
    background: #1d1d20;
    padding: 300px 0;
}

.Cover .left address {
    position: absolute;
    inset: auto auto 50px auto;
    padding: 0 50px;

}

.Cover .left address strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.Cover .left address span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
    margin: 0 0 10px 0;
}

.Cover .left address .link {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.Cover .left address .link a {
    display: block;
}

.Cover .left address .link i {
    display: block;
    font-size: 20px;
}

.Cover .right {
    flex: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.Cover .right ul>li {
    margin: 50px 0;
}

.Cover .right ul>li a {
    display: block;
    font-size: 40px;
    font-weight: 500;
}

.Cover .right ul>li a span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 5px 0;
    color: #777;
}

/* totop button */
.Totop {
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 4px 15px -9px rgba(0, 0, 0, 0.5);
    z-index: 99;

    transition: 0.5s;
    visibility: visible;
    opacity: 1;
}

.Totop.anch {

    visibility: hidden;
    opacity: 0;
}

.Totop a {
    display: block;
    text-align: center;
    height: 30px;


}

.Totop a>i {
    font-size: 30px;
    line-height: 50px;
}



/* mopen bars */
.Mopen {
    position: fixed;
    inset: 50px 50px auto auto;

    width: 50px;
    height: 50px;

    cursor: pointer;
    z-index: 999;
}

.Mopen span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 3px;

    font-size: 0;
    background: #fff;
    border-radius: 50px;

    transition: 0.05s;
}


.Mopen .fir_open_bar {
    top: 25%;
    right: 0;

    visibility: visible;
    transition: 0.3s;
}

.Mopen .sec_open_bar {
    top: 50%;
    left: 50%;
}

.Mopen .thi_open_bar {
    top: 75%;
    right: 0;

    visibility: visible;
    transition: 0.3s;
}

.Mopen.on .fir_open_bar,
.Mopen.on .thi_open_bar {
    width: 0;
    visibility: hidden;
}

.Mopen.on .sec_open_bar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;

    background: #fff;
    border-radius: 10px;
    z-index: -1;


}

.Mopen .sec_open_bar::before,
.Mopen .sec_open_bar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 1px;

    background: transparent;
    border-top: 3px solid #000;
    border-radius: 50px;

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.Mopen.on .sec_open_bar::before {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
    visibility: visible;
}

.Mopen.on .sec_open_bar::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1;
    visibility: visible;
}