* {
    -outline: 1px solid green;
}

/* { main page */
.section.main_page {
    position: relative;
    background: #1d1d20;
}


.section.main_page .rotate_box::before {
    content: "";
    position: absolute;
    top: 250px;
    left: 0px;
    /* transform: translate(0, 50%); */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to bottom right, #ffcd02 50%,
            #ccc) 30 30;

    z-index: 1;
}

.section.main_page.on .rotate_box::before {
    animation: rotate_R 3s ease-in-out forwards;
}


@keyframes rotate_R {
    from {

        transform: rotate(0);
    }

    to {
        top: 250px;
        left: 1400px;
        transform: rotate(180deg);
    }
}

.section.main_page .rotate_box::after {
    content: "";
    position: absolute;
    bottom: 250px;
    right: 0px;
    /* transform: translate(0, 50%); */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to bottom left, #ffcd02 50%, #ccc) 30 30;
    z-index: 1;
}

.section.main_page.on .rotate_box::after {
    animation: rotate_L 3s ease-in-out forwards;
}


@keyframes rotate_L {
    from {

        transform: rotate(0);
    }

    to {
        bottom: 250px;
        right: 1400px;
        transform: rotate(180deg);
    }
}

/* .section.main_page.on .inner::before {

    transform: translate(0, 0) rotate(45deg);
} */

.section.main_page .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.section.main_page .inner .text_box {
    text-align: center;
}

.section.main_page .inner .text_box .main_tit {
    color: #fff;
}

.section.main_page .inner .text_box .main_tit h2 {
    font-size: 70px;
    font-weight: 900;
    margin: 0 0 20px 0;

}

.section.main_page .inner .text_box .main_desc {
    color: #ccc;
}

.section.main_page .inner .text_box .main_desc span {
    display: block;
    font-weight: 300;

}

.section.main_page .inner .text_box .main_desc p {
    font-size: 22px;
    margin: 0 0 20px 0;
}

/* main page } */





/* { portfolio 01 section */

#project_atforet {
    background: url(../img/portfolio01_cover.png) no-repeat center center / cover;
}

#project_atforet .fp_info_box .project_details .color .cor01 {
    background-color: #b19273;
}

#project_atforet .fp_info_box .project_details .color .cor02 {
    background-color: #281e19;
}

#project_atforet .fp_info_box .project_details .color .cor03 {
    background-color: #333333;
}

#project_atforet .fp_info_box .project_details .color .cor04 {
    background-color: #555555;
}

#project_atforet .fp_info_box .project_details .color .cor05 {
    background-color: #777777;
}

/* portfolio 01 section } */





/* { portfolio 02 section */
/* portfolio 02 section } */





/* { portfolio 03 section */
/* portfolio 03 section } */





/* { portfolio 04 section */
/* portfolio 04 section } */




/* { portfolio 05 section */
/* portfolio 05 section } */
#fp02 {
    background: url(../img/portfolio02_cover.png) no-repeat center center / cover;
}

#fp03 {
    background: url(../img/portfolio03_cover.png) no-repeat center center / cover;
}

#fp04 {
    background: url(../img/portfolio02_cover.png) no-repeat center center / cover;
}

#fp05 {
    background: url(../img/portfolio02_cover.png) no-repeat center center / cover;
}













.Header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 999;
    transition: 0.5s;
}

.Header.on,
.Header.anch {
    color: #fff;
}

.Header h1 a {
    display: block;
}

.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    transform: translate(0, -50%);
    z-index: 99;
}

.gnb li {
    font-size: 0;
    margin: 15px;
}

.gnb li a {
    display: block;
    text-align: center;

    width: 10px;
    height: 10px;

    background: transparent;
    border: 1px solid #777;
    border-radius: 50%;
}

.gnb li a:hover {
    background: #000;
    border: none;
}

.gnb li.on a {
    background: #000;
    border: none;
}

.gnb.anch li a {
    border: 1px solid #fff;

}

.gnb.anch li a:hover {
    background: #fff;

}

.gnb.anch li.on a {
    background: #fff;

}



.Cover {

    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Cover::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: url(../img/cover_bg.jpg) no-repeat center center/cover;
    transform: scaleX(-1);
    z-index: -1;
}

.Cover .left {
    position: relative;
    flex: 1;

    height: 100%;

    color: #fff;
    background: #1d1d20;
    padding: 300px 0;
}

.Cover .left address {
    position: absolute;
    inset: auto auto 50px auto;
    padding: 0 50px;

}

.Cover .left address strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.Cover .left address span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
    margin: 0 0 10px 0;
}

.Cover .left address .link {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.Cover .left address .link a {
    display: block;
}

.Cover .left address .link i {
    display: block;
    font-size: 20px;
}

.Cover .right {
    flex: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.Cover .right ul>li {
    margin: 50px 0;
}

.Cover .right ul>li a {
    display: block;
    font-size: 30px;
    font-weight: 500;
}

.Cover .right ul>li a span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 5px 0;
    color: #777;
}

.Totop {
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99
}

.Totop a {
    display: block;
    height: 30px;
    line-height: 30px;
}

.Mopen {
    position: fixed;
    inset: 50px 50px auto auto;

    width: 50px;
    height: 50px;

    cursor: pointer;
    z-index: 999;
}

.Mopen span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 3px;

    font-size: 0;
    background: #000;
    border-radius: 50px;

    transition: 0.05s;
}

.Mopen.anch span {
    background: #fff;
}

.Mopen .fir_open_bar {
    top: 25%;
    right: 0;

    visibility: visible;
    transition: 0.3s;
}

.Mopen .sec_open_bar {
    top: 50%;
    left: 50%;
}

.Mopen .thi_open_bar {
    top: 75%;
    right: 0;

    visibility: visible;
    transition: 0.3s;
}

.Mopen.on .fir_open_bar,
.Mopen.on .thi_open_bar {
    width: 0;
    visibility: hidden;
}

.Mopen.on .sec_open_bar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;

    background: #fff;
    border-radius: 10px;
    z-index: -1;


}

.Mopen .sec_open_bar::before,
.Mopen .sec_open_bar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 1px;

    background: transparent;
    border-top: 3px solid #000;
    border-radius: 50px;

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.Mopen.on .sec_open_bar::before {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
    visibility: visible;
}

.Mopen.on .sec_open_bar::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1;
    visibility: visible;
}